h1{ 
    background-color: #ff0080;
    margin-left: 32%;
    margin-right: 32%;
    border: 3px;
    border-color: black;
    border-style:solid;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
body{
    background-image:  url("../Images/index_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top;
    margin: 0;
}